# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:blacklistTickingBlocks=true
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    B:fullBlockCrafting=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    B:requireBagSpace=false
    I:stoneChiselUses=8384
    B:voidExcessBits=false
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:dynamicRenderFullChunksOnly=true
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    I:minimizeLatancyMaxTime=100
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedMaterial=true
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SameMaterial=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    D:radialMenuVolume=0.10000000149011612
    B:showUsage=true
}


crafting {
    B:enableChiselCrafting=true
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:appeng.block.misc.BlockQuartzFixture=true
    B:appeng.block.misc.BlockTinyTNT=true
    B:appeng.decorative.solid.BlockChargedQuartzOre=true
    B:appeng.decorative.solid.BlockChiseledQuartz=true
    B:appeng.decorative.solid.BlockFluix=true
    B:appeng.decorative.solid.BlockQuartz=true
    B:appeng.decorative.solid.BlockQuartzGlass=true
    B:appeng.decorative.solid.BlockQuartzLamp=true
    B:appeng.decorative.solid.BlockQuartzOre=true
    B:appeng.decorative.solid.BlockQuartzPillar=true
    B:appeng.decorative.solid.BlockSkyStone=true
    B:"blusunrize.immersiveengineering.common.IEContent$1"=true
    B:blusunrize.immersiveengineering.common.blocks.BlockIEBase=true
    B:blusunrize.immersiveengineering.common.blocks.metal.BlockMetalDecoration0=true
    B:com.clussmanproductions.trafficcontrol.blocks.BlockTrafficSensorLeft=true
    B:com.clussmanproductions.trafficcontrol.blocks.BlockTrafficSensorRight=true
    B:com.clussmanproductions.trafficcontrol.blocks.BlockTrafficSensorStraight=true
    B:com.flansmod.common.BlockFlansWorkbench=true
    B:com.flansmod.common.guns.boxes.BlockGunBox=true
    B:com.flansmod.common.teams.BlockArmourBox=true
    B:com.hbm.blocks.BlockBase=true
    B:com.hbm.blocks.BlockBaseVisualFluidConnectable=true
    B:com.hbm.blocks.BlockFallingBase=true
    B:com.hbm.blocks.bomb.BlockCloudResidue=true
    B:com.hbm.blocks.bomb.BlockSemtex=true
    B:com.hbm.blocks.bomb.BombFlameWar=true
    B:com.hbm.blocks.bomb.BombFloat=true
    B:com.hbm.blocks.bomb.BombThermo=true
    B:com.hbm.blocks.bomb.DetCord=true
    B:com.hbm.blocks.bomb.DetMiner=true
    B:com.hbm.blocks.generic.BlockAmmoCrate=true
    B:com.hbm.blocks.generic.BlockBallsSpawner=true
    B:com.hbm.blocks.generic.BlockBeaconable=true
    B:com.hbm.blocks.generic.BlockCableConnect=true
    B:com.hbm.blocks.generic.BlockCap=true
    B:com.hbm.blocks.generic.BlockClean=true
    B:com.hbm.blocks.generic.BlockCluster=true
    B:com.hbm.blocks.generic.BlockCoalBurning=true
    B:com.hbm.blocks.generic.BlockCoalOil=true
    B:com.hbm.blocks.generic.BlockCrate=true
    B:com.hbm.blocks.generic.BlockDepth=true
    B:com.hbm.blocks.generic.BlockDepthOre=true
    B:com.hbm.blocks.generic.BlockGlyph=true
    B:com.hbm.blocks.generic.BlockHazardFalling=true
    B:com.hbm.blocks.generic.BlockJungleCrate=true
    B:com.hbm.blocks.generic.BlockLithium=true
    B:com.hbm.blocks.generic.BlockMushHuge=true
    B:com.hbm.blocks.generic.BlockPorous=true
    B:com.hbm.blocks.generic.BlockRadResistant=true
    B:com.hbm.blocks.generic.BlockRadResistantHazard=true
    B:com.hbm.blocks.generic.BlockRotatablePillar=true
    B:com.hbm.blocks.generic.BlockRotatablePillarHazard=true
    B:com.hbm.blocks.generic.BlockSmolder=true
    B:com.hbm.blocks.generic.BlockWriting=true
    B:com.hbm.blocks.generic.Guide=true
    B:com.hbm.blocks.generic.ReinforcedLamp=true
    B:com.hbm.blocks.generic.WasteEarth=true
    B:com.hbm.blocks.generic.WasteLog=true
    B:com.hbm.blocks.generic.WasteSand=true
    B:com.hbm.blocks.machine.BlockArmorTable=true
    B:com.hbm.blocks.machine.BlockHadronCoil=true
    B:com.hbm.blocks.machine.BlockHadronPlating=true
    B:com.hbm.blocks.machine.BlockReactor=true
    B:com.hbm.blocks.machine.BlockRotatable=true
    B:com.hbm.blocks.machine.BlockSeal=true
    B:com.hbm.blocks.machine.MachineFieldDisturber=true
    B:com.hbm.blocks.machine.SPPTop=true
    B:com.ldtteam.structurize.blocks.cactus.BlockCactusPlank=true
    B:com.ldtteam.structurize.blocks.decorative.BlockTimberFrame=true
    B:com.ldtteam.structurize.blocks.schematic.BlockSolidSubstitution=true
    B:com.ldtteam.structurize.blocks.schematic.BlockSubstitution=true
    B:com.minecolonies.coremod.blocks.BlockBarracksTowerSubstitution=true
    B:com.silvaniastudios.roads.blocks.StreetBlock=true
    B:com.simibubi.mightyarchitect.block.BlockDesignAnchor=true
    B:com.simibubi.mightyarchitect.block.BlockSliceMarker=true
    B:de.sanandrew.mods.immersivecables.block.BlockCoil=true
    B:mctmods.immersivetechnology.common.blocks.stone.BlockStoneDecoration=true
    B:net.dries007.tfc.objects.blocks.BlockAggregate=true
    B:net.dries007.tfc.objects.blocks.BlockDebug=true
    B:net.dries007.tfc.objects.blocks.BlockDecorativeStone=true
    B:net.dries007.tfc.objects.blocks.BlockFireBrick=true
    B:net.dries007.tfc.objects.blocks.BlockFireClay=true
    B:net.dries007.tfc.objects.blocks.BlockPeat=true
    B:net.dries007.tfc.objects.blocks.stone.BlockOreTFC=true
    B:net.dries007.tfc.objects.blocks.stone.BlockRockRaw=true
    B:net.dries007.tfc.objects.blocks.stone.BlockRockSmooth=true
    B:net.dries007.tfc.objects.blocks.stone.BlockRockVariant=true
    B:net.dries007.tfc.objects.blocks.stone.BlockRockVariantFallable=true
    B:net.dries007.tfc.objects.blocks.wood.BlockBookshelfTFC=true
    B:net.dries007.tfc.objects.blocks.wood.BlockPlanksTFC=true
    B:net.dries007.tfc.objects.blocks.wood.BlockWorkbenchTFC=true
    B:net.geforcemods.securitycraft.blocks.CrystalQuartzBlock=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockConcretePowder=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlazedTerracotta=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockMycelium=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObserver=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStainedHardenedClay=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:noobanidus.mods.lootr.block.TrophyBlock=true
    B:shadows.fastbench.block.BlockFastBench=true
    B:"team.chisel.Features$33$1"=true
    B:"team.chisel.Features$34$1"=true
    B:"team.chisel.Features$35$1"=true
    B:"team.chisel.Features$51$1"=true
    B:"team.chisel.Features$59$1"=true
    B:"team.chisel.Features$76"=true
    B:"team.chisel.Features$8$1"=true
    B:team.chisel.common.block.BlockCarvable=true
    B:team.chisel.common.block.BlockCarvableCarpet=true
    B:zmaster587.advancedRocketry.block.BlockCharcoalLog=true
    B:zmaster587.advancedRocketry.block.BlockIntake=true
    B:zmaster587.advancedRocketry.block.BlockLinkedHorizontalTexture=true
    B:zmaster587.advancedRocketry.block.BlockMiningDrill=true
    B:zmaster587.advancedRocketry.block.BlockNuclearCore=true
    B:zmaster587.advancedRocketry.block.BlockRegolith=true
    B:zmaster587.advancedRocketry.block.plant.BlockLightwoodPlanks=true
    B:zmaster587.advancedRocketry.block.plant.BlockLightwoodWood=true
    B:zmaster587.libVulpes.block.BlockFullyRotatable=true
    B:zmaster587.libVulpes.block.BlockOre=true
}


"integration settings" {
    B:ShowBitsInJEI=false
    B:enableMCMultipart=true
    B:enableVivecraftCompatibility=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


troubleshooting {
    B:disableCustomVertexFormats=false
    B:enableAPITestingItem=false
    B:enableFaceLightmapExtraction=true
    B:logEligibilityErrors=false
    B:logTileErrors=false
    B:useGetLightValue=true
}


